
<footer>
    <div class="home-footer text-center">
        <div class="copyright text-center">© Marius Etourneau</div>
      </div>
    </div>
  </footer>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>