<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/header.ejs') %>
        

        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center contentSite">
                    <div class="error-template">
                        <h2 class="text-center my-3">404 Error</h2>
                        <div class="error-details">
                            <iframe src="https://giphy.com/embed/bZmFlbPoX7WyHTzhuV" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        


        <%- include('../includes/footer.ejs') %>
        
    </body>
</html>