<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/header.ejs') %>


      <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center contentSite">
                <div class="error-template">
                    <h2 class="text-center my-3">Bienvenue sur mon application express :)</h2>
                    <div class="text-center">
                        <iframe src="https://giphy.com/embed/RPwrO4b46mOdy" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>


        <%- include('../includes/footer.ejs') %>

    </body>
</html>