<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/header.ejs') %>
        

        <div class="container contentSite">
            <div class="wrapper">
                <% if (password !== "admin" && username !== "admin") { %>
                <form action="/" method="post">
                    <div class="mb-3">
                        <label for="inputUser" class="form-label">Identifiant</label>
                        <input type="text" class="form-control" name="username"  id="imputUser" />
                    </div>
                    <div class="mb-3">
                        <label for="inputPw" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="password"  id="imputPw" />
                    </div>
    
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
                </form>
                <% } else { %>
                    <h2>Bonjour <%= username %></h2>
                <% } %>
            </div>
        </div>


        <%- include('../includes/footer.ejs') %>
        
    </body>
</html>